@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Comforter;
  src: url(./assets/fonts/Comforter_Brush/ComforterBrush-Regular.ttf);
}

@font-face {
  font-family: saira;
  src: url(./assets/fonts/Saira/SairaCondensed-Regular.ttf);
}

.comforter {
  font-family: "Comforter";
}

.saira {
  font-family: "saira";
}

.bgProfilePic {
  background-image: url("/src/assets/pics/foto2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media all and (min-width: 1025px) {
  .bgModal {
    width: 600px;
    height: 300px;
  }
}

@media all and (max-width: 1024px) and (min-width: 641px) {
  .bgModal {
    width: 600px;
    height: 300px;
  }
}

@media all and (max-width: 640px) {
  .bgModal {
    width: 300px;
    height: 150px;
  }
}

.allProjectsBg {
  background-repeat: no-repeat;
  background-size: contain;
}

.bgUbisoft {
  background-image: url("/src/assets/pics/ubisoft.jpg");
}

.bgFinlab {
  background-image: url("/src/assets/pics/finlab.jpg");
}

.bgOptionsfy {
  background-image: url("/src/assets/pics/optionsfy.jpg");
}

.bgFontanelle {
  background-image: url("/src/assets/pics/fontanelle.jpg");
}

.bgBazaar {
  background-image: url("/src/assets/pics/bazaar.jpg");
}
